@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


html
{
    background-color: #9DDE8B;
}


  
.TopPageBar
{
    background-color: #c4ff9311;
    opacity: 100%;
    width: max;
    height: 100px;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 5px;
}


.TopButtons
{
    background-color: #ACE1AF;
    width: 150px;
    height: 80px;
    border-radius: 15%;
    font-size: 35px;
    text-align: center;
    align-content: center;
    font-family: "Poetsen One", sans-serif;
}
.VideoScreen
{
    display: flexbox;
    justify-content: center;
    width: 854px;
    height: 480px;
    background-color: black;
}