@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html
{
    background-color: #97BE5A;
}

.FullMap
{
    width: max;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    grid-template-rows: repeat(10, 10fr);
    background-color: red;
    margin-top: 100px;
}

.BuildingSlotsHover:hover
{
    background-color: #ACE1AF;
}

.BuildingSlots
{   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.Marked
{
    background-color: black;
    color: red;
}


.TitleBar
{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 70vh;
    height: 60px;
    font-size: 50px;
    font-family: "Rubik", sans-serif;
    display: flex;
}


#BTitle
{
    text-shadow: 1px 1px red;
}


.TitleBarText
{
    margin-left: 5vh;
    font-size: 50px;
    font-family: "Rubik", sans-serif;
}


.BuildingsBar
{
    width: 85vh;
    height: 70px;
    position: absolute;
    top: 15px;
    right: 50px;
    background-color: #6c8a3d38;
    border-radius: 50% 20% / 10% 40%;;
}


.InfoBar
{
    width: 80vh;
    height: 70px;
    position: absolute;
    top: 15px;
    left: 83vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.PopulationNum
{
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}

.MoneyNum
{
    margin-left: 50px;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}